### 문자열(string)

문자열 구분

In [1]:
# 문자열 구분 : ''(작은따옴표) 또는 ""(큰따옴표)를 사용하여 정의

x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
# 문자열에 작음따옴표 또는 큰따옴표 중 하나가 포함된 경우 포함되지 않은 것으로 정의해준다


print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [3]:
# 포함된 따옴표를 사용하여 문자열 정의시 에러 발생
'Pluto's a planet!'

SyntaxError: unterminated string literal (detected at line 2) (2840907938.py, line 2)

In [4]:
# 이때 이스케이프 시퀀스(escape sequence) '\' 를 사용하여 에러를 해결할 수 있다

'Pluto\'s a planet!'
# ' 앞에 \ 를 붙여서 해당 ' 는 특별한 기능을 위한 문자가 아님을 알려준다

"Pluto's a planet!"

In [5]:
# 이스케이프 시퀀스(escape sequence) '\' 활용

# \' -> '
print('What\'s up?')

# \" -> "
print("That's \"cool\"")

# \\ -> \
print("Look, a mountain: /\\")

# \n -> 줄바꿈 문자
print("1\n2 3")

What's up?
That's "cool"
Look, a mountain: /\
1
2 3

In [6]:
# \n : 줄바꿈 문자

hello = "hello\nworld"
print(hello)

hello
world

In [7]:
# 삼중 따옴표를 사용한 줄바꿈
# 삼중 따옴표 (""" """) 의 경우 해당 기호 사이에 입력되는 문자열은 줄바꿈 문자(\n)를 사용하지 않고 단순히 enter키로 줄을 바꿔줘도 적용된다

triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [8]:
# print() 함수의 인수 end의 기본값(default)가 '\n' 줄바꿈 문자이다

print("hello")
print("world")

print("hello", end='') # end 인수를 ''로 지정하여 기본값이 아닌 ''가 반영되어 hello와 pluto가 줄바꿔서 출력되는게 아닌 붙어서 출력된다
print("pluto", end='')

hello
world
hellopluto

문자열 시퀀스

In [9]:
# 문자열은 시퀀스로 생각할 수 있다
# 따라서 list에서 할 수 있는 것을 문자열에서 대부분 할 수 있다


# 인덱싱(Indexing)
planet = 'Pluto'
planet[0]

'P'

In [10]:
# 슬라이싱(Slicing)
planet[-3:]

'uto'

In [11]:
# len() 함수로 문자열 길이 구하기
len(planet)

5

In [12]:
# 문자열에서 한글자씩 추출하여 리스트 컴프리헨션 사용하기
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [13]:
# 단, list와 달리 수정이 불가능하다(immutable)

planet[0] = 'B'
# planet.append() : append 메서드 또한 불가능

TypeError: 'str' object does not support item assignment

문자열 메서드

In [14]:
# upper() : 모든 글자를 대문자로 변환

claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [15]:
# lower() : 모든 글자를 소문자로 변환

claim.lower()

'pluto is a planet!'

In [16]:
# index() : 해당 문자의 첫번째 글자의 인덱스 반환
# 문자열도 index가 0부터 시작되며 띄어쓰기 공백도 인덱스를 가진다

claim.index('plan')

11

In [20]:
print(planet)

# startswith() : 문자열이 해당 글자로 시작하는지 확인
claim.startswith(planet)
# planet 객체가 'Pluto'이므로 claim이 'Pluto'로 시작하는 것이 맞다

Pluto

True

In [21]:
# endswith() : 문자열이 해당 글자로 끝나는지 확인
# 언뜻보면 True 같지만 ! 가 없으므로 False

claim.endswith('planet')

False

문자열과 리스트 사이를 조작 : .split() and .join()

In [22]:
# split() : 문자열을 더 작은 문자열로 나누어 리스트에 담아서 반환
# 기본적으로 공백을 기준으로 나눈다

words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [25]:
# 나누는 기준을 공백이 아닌 것으로 설정할 수도 있다

datestr = '1956-01-31'
year, month, day = datestr.split('-')
# '-'을 기준으로 나눈뒤 year, month, day에 각각 할당

print(year)
print(month)
print(day)

1956
01
31

In [26]:
# join() : 문자열을 설정 기호를 사용하여 하나의 문자열로 합쳐서 반환

'/'.join([month, day, year])
# 설정 기호 '/'를 사용하여 year, month, day를 month, day, year 순서로 합쳐준다

'01/31/1956'

In [27]:
# unicode characters를 설정 기호로 활용하여 합쳐줄 수도 있다
# 리스트 컴프리헨션을 사용하여 모든 글자를 대문자로 변환한뒤 join() 메서드 적용
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

문자열 작성 : .format()

In [28]:
# + 연산자를 활용하여 문자열을 연결할 수 있다

planet + ', we miss you.'

'Pluto, we miss you.'

In [29]:
# 문자열이 아닌 객체를 추가하려면 먼저 str() 함수를 사용하여 문자열로 변환시켜줘야한다
position = 9
planet + ", you'll always be the " + position + "th planet to me."
# 에러 발생 >> type(position)이 int이기 때문

TypeError: can only concatenate str (not "int") to str

In [30]:
# str() 사용 int >> str 변환
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [31]:
# .format() : 문자열 객체의 메서드로 {} 부분에 원하는 데이터 값을 문자열로 변환하여 넣어준다
"{}, you'll always be the {}th planet to me.".format(planet, position)

# {} 을 사용하여 삽입하려는 값의 위치를 정해준다
# .format() 메서드를 사용하면 str()을 사용할 필요 없다

"Pluto, you'll always be the 9th planet to me."

In [32]:

pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

# {:.2} -> 소수점 자리수 지정 (소수점 2번째 자리까지 표시) == 1.3e+22
# {:.3%} -> 소수점 자리수 지정 + '%' (소수점 3번째 자리까지 표시 + '%') == 0.218%
# {:,} -> 천 단위 구분자 , 삽입 == 52,910,390

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [33]:
# 인덱싱을 이용한 포매팅도 가능하다
# .format('planet', 'dwarf planet') 에서 0번째는 'planet', 1번째는 'dwarf planet'

s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

### 딕셔너리(dictionary)

In [35]:
# 딕셔너리는 키(key)와 값(value)을 매핑하기 위한 데이터 형태

numbers = {'one':1, 'two':2, 'three':3}
# 'one', 'two', 'three'는 key이고 1,2,3은 각각의 키에 해당하는 값

# 키(key)를 가지고 값(vlaue)에 접근할 수 있다
numbers['one']

1

In [36]:
# 새로운 키와 값을 추가할 수 있다

numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [38]:
# 기존 키와 연관된 값을 변경할 수 있다

numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

딕셔너리 컴프리헨션

In [39]:
# 리스트 컴프리헨션과 비슷한 문법

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [40]:
#  연산자 in 을 사용하여 사전의 키가 맞는지 여부를 확인할 수 있다
'Saturn' in planet_to_initial

True

In [42]:
'Betelgeuse' in planet_to_initial

False

In [43]:
# for 반복문에서 딕셔너리가 item의 집합으로 사용되면 키가 item에 차례대로 반복 할당된다

for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [46]:
# .keys() : 딕셔너리의 key 모음

'/'.join(planet_to_initial.keys())

'Mercury/Venus/Earth/Mars/Jupiter/Saturn/Uranus/Neptune'

In [47]:
# .values() : 딕셔너리의 value 모음

# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [52]:
# .items() : 각각의 키와 값을 튜플에 담아서 한번에 반환

planet_to_initial.items()

dict_items([('Mercury', 'M'), ('Venus', 'V'), ('Earth', 'E'), ('Mars', 'M'), ('Jupiter', 'J'), ('Saturn', 'S'), ('Uranus', 'U'), ('Neptune', 'N')])

In [53]:
# .items() 반복문 활용
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"