In [3]:
import numpy as np
import pandas as pd
pd.__version__

'2.1.4'

Pandas 객체

Series 객체

In [2]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [3]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s[1]

0.25

In [6]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [13]:
# 인덱스를 따로 지정 가능
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd', 'e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [14]:
s['c']

0.5

In [16]:
s[['c', 'd', 'e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [17]:
'b' in s

True

In [19]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=[2, 4, 6, 8, 10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [20]:
s[4]

0.25

In [21]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [22]:
# 중복값 제거
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [24]:
# 요소값 몇개인지 카운트
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
Name: count, dtype: int64

In [25]:
# 만약 해당 값이 시리즈안에 있으면 해당 자리는 True 아니면 False
s.isin([0.25, 0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [26]:
pop_tuple = {'서울특별시' : 9720846,
             '부산광역시' : 3404423,
             '인천광역시' : 2947217,
             '대구광역시' : 2427954,
             '대전광역시' : 1471040,
             '광주광역시' : 1455048}
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [27]:
population['서울특별시']

9720846

In [28]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

DataFrame 객체

In [29]:
pd.DataFrame([{'A':2, 'B':4, 'D':3}, {'A':4, 'B':5, 'C':7}])
# missing 된 부분은 NaN으로 알아서 처리함

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [30]:
# 랜덤 값으로 DataFrame 생성
# numpy random 함수 사용
pd.DataFrame(np.random.rand(5,5),
             columns=['A','B','C','D','E'],
             index=[1,2,3,4,5])

          A         B         C         D         E
1  0.126035  0.138926  0.285873  0.165522  0.752597
2  0.754386  0.106705  0.136877  0.036245  0.439276
3  0.343012  0.099360  0.086404  0.587135  0.092756
4  0.440413  0.553816  0.187805  0.762258  0.399859
5  0.410674  0.367090  0.355344  0.728015  0.201968

In [31]:
male_tuple = {'서울특별시' : 4732275,
             '부산광역시' : 1668618,
             '인천광역시' : 1476813,
             '대구광역시' : 1198815,
             '대전광역시' : 734441,
             '광주광역시' : 720060}
male = pd.Series(male_tuple)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [33]:
female_tuple = {'서울특별시' : 4988571,
             '부산광역시' : 1735805,
             '인천광역시' : 1470404,
             '대구광역시' : 1229139,
             '대전광역시' : 736599,
             '광주광역시' : 734988}
female = pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [36]:
korea_df = pd.DataFrame({'인구수':population, '남자인구수':male, '여자인구수':female})

korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [37]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [38]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [39]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [40]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

Index 객체

- Index : 일반적인 Index 객체이며 Numpy 배열 형식으로 축의 이름 표현
- Int64Index : 정수 값을 위한 Index
- MultiIndex : 단일 축에 여러 단계 색인을 표현하는 계층적 Index 객체(튜플의 배열과 유사)
- DatetimeIndex : Numpy의 datetime64 타입으로 타임스탬프 저장
- PeriodIndex : 기간 데이터를 위한 Index

In [41]:
idx = pd.Index([2,4,6,8,10])
idx

Index([2, 4, 6, 8, 10], dtype='int64')

In [42]:
idx[1]

4

In [43]:
idx[1:2:2]

Index([4], dtype='int64')

In [44]:
idx[-1::]

Index([10], dtype='int64')

In [45]:
idx[::2]

Index([2, 6, 10], dtype='int64')

In [46]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

Index 연산
- append : 색인 객체를 추가한 새로운 색인 반환
- difference(-) : 색인의 차집합 반환
- intersection(&) : 색인의 교집합 반환
- union(|) : 색인의 합집합 반환
- isin : 색인이 존재하는지 여부를 불리언 배열로 반환
- delete : 색인이 삭제된 새로운 색인 반환
- drop : 값이 삭제된 새로운 색인 반환
- insert : 색인이 추가된 새로운 색인 반환
- is_monotonic : 색인이 단조성을 가지면 True
- is_unique : 중복되는 색인이 없다면 True
- unique : 색인에서 중복되는 요소를 제거하고 유일한 값만 반환

In [17]:
idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])

print(idx1.append(idx2))
print(idx1.difference(idx2)) # idx1 - idx2 와 동일
print(idx1.intersection(idx2)) # idx1 & idx2 와 동일
print(idx1.union(idx2)) # idx1 | idx2 와 동일
print(idx1.delete(0)) # 인덱스 번호로 삭제할 요소 지정
print(idx1.drop(8)) # 삭제할 요소 직접 지정
print()
print(idx1^idx2) # ? 대칭 차집합이 나와야하는데 왜 이렇게 나오지?

Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Index([1, 8], dtype='int64')
Index([2, 4, 6], dtype='int64')
Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Index([2, 4, 6, 8], dtype='int64')
Index([1, 2, 4, 6], dtype='int64')

Index([3, 6, 1, 0, 15], dtype='int64')

인덱싱(Indexing)

In [18]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0],
              index = ['a','b','c','d','e'])

s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [19]:
s['b']

0.25

In [20]:
'b' in s

True

In [21]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [24]:
list(s.items()) # items는 zip 형태로 나오기때문에 list에 담아야 그 값들을 확인할 수 있다

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [26]:
# 새로운 키와 값 추가 가능
s['f'] = 1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [27]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [30]:
# 숫자로 슬라이싱해도 가능
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [33]:
s[(s>0.4) & (s<0.8)]
# 비교 연산자를 통한 조건으로도 인덱싱이 가능하다

c    0.50
d    0.75
dtype: float64

In [35]:
s[['a', 'c', 'e']]

a    0.0
c    0.5
e    1.0
dtype: float64

Series 인덱싱

In [38]:
s = pd.Series(['a','b','c','d','e'],
              index = [1,3,5,7,9])

s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [39]:
s[1]

'a'

In [40]:
s[2:4]

5    c
7    d
dtype: object

In [42]:
# 지정한 인덱스가 아닌 위치 값으로 값 부르기
s.iloc[1]

'b'

In [43]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [45]:
# 인덱스 번호 재 지정
# 없는 값은 NaN으로 자동 채워짐
s.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [47]:
s.reindex(range(10), method='bfill')
# method = 'bfill' >> 인데스 번호를 재지정하는데 없는 값은 NaN이 아닌 bfill(befor fill) 다음 값으로 전의 빈자리를 채워줘

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object